#window{

	width: 100%;
	height: 100%;
}

body{
	margin: 0px;
	background-color: rgba(122, 128, 138, 1);
	height: 100%;
	width: 100%;
}

html{
	overflow: hidden;
}

.background{
	transition: opacity 0.5s;
}

.segment{
	transition: opacity 0.5s;
}

.segment:hover{
	cursor: pointer;
}







/*

//
//
// quadrant description panels
//
//

*/


.quadrant{
	position: absolute;

	width: 50%;
	height: 50%;

	pointer-events: none;
}

#quadrant1{
	top: 0px;
	left: 0px;
}

#quadrant2{
	top: 50%;
	left: 0px;
}

#quadrant3{
	top: 50%;
	left: 50%;
}

#quadrant4{
	top: 0px;
	left: 50%;
}

#quadrant5{
	top: 0px;
	min-width: 500px;
	margin: auto;
	transition: top 0.25s;
}

#quadrant6{
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	top: 0px;
	left: 0px;
}


.descriptionContainer{
	position: absolute;
	width: 50%;
	height: 50%;
	pointer-events: none;
	
	font-family: 'Roboto', sans-serif;
}

#descont1{
	top: 0px;
	left: 0px;
}

#descont2{
	top: 50%;
	left: 0px;
}

#descont3{
	top: 50%;
	left: 50%;
	width: 45%;
}

#title3{
	padding-left: 90px;
}

#descont4{
	top: 0px;
	left: 50%;
	width: 45%;
}

#descont5{
	top: 0px;
	width: 390px;
	transition: top 0.25s;
}

#descont6{
	position: absolute;
	top: 0px;
	left: 60%;
	height: 100%;
	width: 40%;
	
	font-family: 'Roboto', sans-serif;
	pointer-events: none;
		
	display: flex;
	justify-content: center;
	align-items: center;
}


.descriptionBody{
	position: relative;

	top: 50px;
	
	text-align: justify;

	padding: 60px 0px 0px 60px;
	
	opacity: 0;
	
	transition: top 0.25s, opacity 0.25s;
}

.descriptionBody.show{
	opacity: 1;
	top: 0px;
}


table{
	margin-top: 25px;
}

td{

	padding-left: 10px;
	vertical-align: top;
}

.block{

	background-color: lightgray;
	opacity: 0;
}












/*

//
//
// exhibit description panel
//
//

*/

#desbody6{
	position: relative;
	
	width: 0px;
	height: 0px;
	
	
	overflow: hidden;
	
	border-style: solid;
    border-color: white;
	border-width: 2px;
	
	opacity: 0;
	
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.15), 6px 6px 20px 0 rgba(0, 0, 0, 0.14);
	
	transition-timing-function: linear;
	transition: width 0.5s, height 0.5s, opacity 0.5s;
}

#desbody6.phase1{
	width: 90%;
	opacity: 1;
	
	pointer-events: auto;
}

#desbody6.phase2{
	height: calc(70% - 2px);
}


#desbody6container{
	opacity: 0;
	margin: 80px 40px 40px 40px;
	text-align: justify;
	
	transition: opacity 0.5s, margin-top 0.5s;
}

#desbody6container.phase3{
	margin-top: 40px;
	opacity: 1;
}


#xbutton{
	position: absolute;
	top: 10px;
	right: 10px;
	
	height: 24px;
	width: 24px;
	
	color: white;
	cursor: pointer;
}

#title6{
	width: 100%;
	
	font-size: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	
	border-bottom: 2px solid white;
}









/*

//
//
// image gallery panel
//
//

*/

#des6imagecontainer{
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 60%;
	height: 100%;
	
	pointer-events: none;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#des6imagebody{
	position: relative;
	left: 10%;
	
	width: 90%;
	height: 70%;
	
	transition: left 0.5s, width 0.5s;
}

#des6imagebody.phase3{
	left: 0px;
}

#des6imagebodycontents{
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 100%;
	
	opacity: 0;
	transition: opacity 0.5s;
}

#des6imagebodycontents.phase3{
	
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.15), 6px 6px 20px 0 rgba(0, 0, 0, 0.14);
	
	pointer-events: auto;
	opacity: 1;
}

#des6imageshowcontainer{
	width: 100%;
	height: calc(100% - 100px);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#des6imagedisplay{
	width: 95%;
	height: 95%;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#des6imageline{
	position: absolute;
	bottom: 100px;
	width: 100%;
	height: 2px;
	opacity: 0;
}

#des6imageslider{
	position: absolute;
	bottom: 0px;
	width: calc(100% - 20px);
	height: 80px;
	margin: 10px;
	
	display: flex;
	justify-content: center;
	
	background-color: rgba(255, 255, 255, .5);
}

.thumb{
	position: relative;
	top: 0px;
	height: 80px;
	width: 80px;
	background-size: cover;
	background-position: center;
	
	transition: width 0.25s, height 0.25s, top 0.25s;
}

.descriptionTitle{
	font-size: 20px;
	padding-bottom: 40px;
}



.descriptionInBodyLine{
	height: 10px;
	width: 100%;
	position: absolute;
	top: 100px;
}

/*

//
//
// blocks for quadrant description line slant
//
//

*/

#block1{
	float: right;
	
	-webkit-shape-outside: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	shape-outside: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	
	-webkit-clip-path: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	clip-path: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}

#block2{
	float: right;
	
	-webkit-shape-outside: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	shape-outside: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	
	-webkit-clip-path: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	clip-path: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}

#block3{
	float: left;
	
	-webkit-shape-outside: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	shape-outside: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	clip-path: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}

#block4{
	float: left;
	
	-webkit-shape-outside: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	shape-outside: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	
	-webkit-clip-path: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	clip-path: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}