#window{

	width: 100%;
	height: 100%;
}

body{
	margin: 0px;
	background-color: grey;
	height: 100%;
	width: 100%;
}

html{
	overflow: hidden;
}

.background{

	transition: opacity 0.5s
}

.quadrant{
	position: absolute;

	width: 50%;
	height: 50%;

	pointer-events: none;
	
	transition: width 0.5s, height 0.5s;
}

#quadrant1{
	top: 0px;
	left: 0px;
}

#quadrant2{
	top: 50%;
	left: 0px;
}

#quadrant3{
	top: 50%;
	left: 50%;
}

#quadrant4{
	top: 0px;
	left: 50%;
}

#quadrant5{
	top: 0px;
	min-width: 500px;
	margin: auto;
	transition: top 0.25s;
}

.descriptionContainer{
	position: absolute;
	width: 50%;
	height: 50%;
	pointer-events: none;
	
	font-family: 'Roboto', sans-serif;
}

#descont1{
	top: 0px;
	left: 0px;
}

#descont2{
	top: 50%;
	left: 0px;
}

#descont3{
	top: 50%;
	left: 50%;
	width: 45%;
}

#title3{
	padding-left: 90px;
}

#descont4{
	top: 0px;
	left: 50%;
	width: 45%;
}

#descont5{
	top: 0px;
	width: 390px;
	transition: top 0.25s;
}

.descriptionBody{
	position: relative;

	top: 50px;
	
	text-align: justify;

	padding: 60px 0px 0px 60px;
	

	opacity: 0;
	
	transition: top 0.25s, opacity 0.25s;
}

.descriptionBody.show{
	opacity: 1;
	top: 0px;
}

.descriptionTitle{
	font-size: 20px;
	padding-bottom: 40px;
}



.descriptionInBodyLine{
	height: 10px;
	width: 100%;
	position: absolute;
	top: 100px;
}

table{
	margin-top: 25px;
}

td{

	padding-left: 10px;
	vertical-align: top;
}

.block{

	background-color: lightgray;
	opacity: 0;
}

#block1{
	float: right;
	
	-webkit-shape-outside: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	shape-outside: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	
	-webkit-clip-path: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	clip-path: polygon(0 0, 70% 100%, 100% 100%, 100% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}

#block2{
	float: right;
	
	-webkit-shape-outside: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	shape-outside: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	
	-webkit-clip-path: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	clip-path: polygon(65% 0, 0 100%, 100% 100%, 100% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}

#block3{
	float: left;
	
	-webkit-shape-outside: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	shape-outside: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	clip-path: polygon(0 0, 0 100%, 100% 100%, 20% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}

#block4{
	float: left;
	
	-webkit-shape-outside: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	shape-outside: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	
	-webkit-clip-path: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	clip-path: polygon(0 0, 0 100%, 15% 100%, 100% 0);
	
	-webkit-shape-margin: 0px;
	shape-margin: 0px;
}